<ion-header>
  <ion-toolbar ion-padding color="primary">     
    <div style="margin-left: 35%;">
      <img height="40px" class="ion-text-center"  src="assets/img/logo-inverted.svg"/>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2>Piscos</h2>
  <ion-slides>
    <ion-slide>
      <ion-card>
        <img src="assets/img/piscomalpaso.jpg"/>
      <ion-card-header>
        <ion-card-subtitle> Malpaso </ion-card-subtitle>
        <ion-card-title>Pisco Mal Paso Pedro Jiménez 40° 750 cc</ion-card-title>
      </ion-card-header>
      <ion-button fill="outline">Agregar</ion-button>
    </ion-card>
    </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="assets/img/piscomalpaso.jpg"/>
        <ion-card-header>
          <ion-card-subtitle> Malpaso </ion-card-subtitle>
          <ion-card-title>Pisco Mal Paso Pedro Jiménez 40° 750 cc 
            <br>
            1un
          </ion-card-title>
          <br>
          <span>$9.290</span>
        </ion-card-header>
        <div class="ion-text-center ">
          <ion-button>Agregar</ion-button>
        </div>
      </ion-card>
      </ion-slide>
  </ion-slides>
  
<h2>Cervezas</h2>
  <ion-slides>
    <ion-slide>
      <ion-card>
        <img src="assets/img/piscomalpaso.jpg"/>
      <ion-card-header>
        <ion-card-subtitle> Malpaso </ion-card-subtitle>
        <ion-card-title>Pisco Mal Paso Pedro Jiménez 40° 750 cc</ion-card-title>
      </ion-card-header>
      <ion-button fill="outline">Agregar</ion-button>
    </ion-card>
    </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="assets/img/piscomalpaso.jpg"/>
        <ion-card-header>
          <ion-card-subtitle> Malpaso </ion-card-subtitle>
          <ion-card-title>Pisco Mal Paso Pedro Jiménez 40° 750 cc 
            <br>
            1un
          </ion-card-title>
          <br>
          <span>$9.290</span>
        </ion-card-header>
        <div class="ion-text-center ">
          <ion-button>Agregar</ion-button>
        </div>
      </ion-card>
      </ion-slide>
  </ion-slides>
</ion-content>


